<nav *ngIf="showNavbar">
    <div  class="header_bar row align-items-center justify-content-between">
        <div class="col-6">  
        	<div class="row align-items-center">
	        	<div class="col-4 ml-4 headerSection bold basecolor font-15">
	        		Asset Tracking<br/> 
					Powered by Blockchain
				</div> 
				<div class="col-6 roleSection green bold font-15">
					<div>Manufacturer</div>	        		
				</div>       
			</div>
        </div>
        <div class="col-6 font-12 bold" style="height:40%">
        	<div class="row navigationLink">
        		<div class="col-8 text-right" style="border-right: 2px solid #3d70b2 !important;">
        			<div class="row">
        				<div class="col-9 basecolor pointer" (click)="changeNavigation('home')">
        					<span [ngClass]="(link=='home' || link=='')?'active':''" >Devices</span>
        				</div>
        				<div class="col-3 basecolor pointer" (click)="changeNavigation('createdevice')">
        					<span [ngClass]="link=='createdevice'?'active':''">New Entries</span>
        				</div>
        			</div>
        		</div>
        		<div class="col-4"> 
        			<div class="row">
        				<div class="col-6 basecolor">
        					@username
        				</div>
        				<div class="col-5 basecolor pointer">
        					<a (click)="logout()">Log out</a>
        				</div>
        			</div>
        		</div>
        	</div>       	          
        </div>
    </div>
    <hr>
    <div class="clear"></div>
</nav>



