.mleft{
    padding-left: 25px;
}
.mright {
    padding-left: 0px;
}
hr{
    margin-top: 6px;
  }
.wordwrap{
    word-wrap: break-word;
}
.messagecontainerforadmin{
    background-color: white;
    height: 410px;
    margin-top: 40px;
}
.detailscontainer{
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
  