<app-spinner></app-spinner> 
<div class="row" style="height:100%;margin-right:0px !important">
	<div class="col-12 mainPanel">			
		<app-navbar></app-navbar>
		<div class="appcontainer">		
				<div class="middlePanel">
					<div class="midPanelContainer">
						<div class="midHeaderTopPanel">
							<span class="tower midPanelTopIcon"><img src="../assets/img/mTower_icon.png" style="padding-left: 4px;"></span>
							<span class="time midPanelTopIcon">{{Clock | date:'shortTime'}}</span>
							<span class="battery midPanelTopIcon"><img src="../assets/img/battery.png" style="padding-right: 6px;"></span>
						</div>
						<div class="midContainer">
							<router-outlet ></router-outlet>			
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
