hr{
  margin-top: 4px;
}
.editicon{
 color: #2992e8;
 padding-left: 23px;
}
.list{
  padding-left: 13px;
  padding-right: 16px;
}
.list hr{
  margin-left: 1px;
}
.searchbox{
  margin-top: -19px;
  padding-top: 10px;
  width: 245px;
  height: 37px;
  margin-left: 11px;
  margin-right: -46px;
}
.search_img{
  position: inherit;
  margin-top: -13px;
  
}
.clearicon{
  margin-top: -19px;
}
.listcontainer{
  height: 356px;
}

/* modal */
.modal-custom {    
  background: rgba(168, 165, 165,0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 84%;
  height: 12%;
  margin-top: 58px;
  margin-left: 18px;
  }
  /* arrow*/
  .modal-custom::after{
    content: "";
    position: absolute;
    top: -7%;
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(168, 165, 165) transparent transparent transparent;
  }
.close-modal{
  margin-left: 246px;
}